html, body {
  background-color: rgb(27, 13, 54);
  margin: 0 auto;
  padding: 0;
}
#container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 400px;
  text-align: center;
  font-size: 30px;
}
#m_attack {
  padding: 10px;
  margin: 20px
}
#lvl {
  color: #faca1a;
  font-size: 19px;
  margin: 10px;
}
#damage {
  color: #faca1a;
  font-size: 19px;
  margin: 10px;
}
#dmg_given {
  color: #faca1a;
  font-size: 19px;
  margin: 10px;
  }


